extends _layout.pug

prepend navigation
    -var current_page = 'contact'

block content
    .align-center
        h1 Contact Me
        a(href="mailto:eyudina@mail.ccsf.edu" class="button") Send Email
